.navbar{
    

    max-width: 1366px;

    .laptop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 10px;


        .logo{
            position: relative;
            z-index: 10;
            background-color: transparent;


            &::before{
                content: " ";
                height: 30px;
                width: 30px;
                position: absolute;
                background-color: #ff9800;
                z-index: -1;
                border: 50%;
                border-radius: 50%;
                left: -2px;
            }
        }
        

        .links-conteneur{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 35px;

            li{
                font-size: 15px;
                opacity: 0.7;
                cursor: pointer;

                &:last-child{
                    background: #ff9800;
                    padding: 5px 10px ;
                    width: 7rem;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 4px;
                    opacity: 1;

                }
            }

        }
        
        .menu-icon{
            width: 20px;
            height: 20px;
            color: white;
            margin-bottom: 4px;
            display: none;
        }
    }
}