.app{
    .conteneur-accueil{
        background-color: #4CAF50;
        display: flex;
        justify-content: center;

        position: relative;
        padding-bottom: 20px;

        &::before{
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: -50px;
            left: 0;
            background-color: #fbc02d;
            border-radius: 50%;
        }

        .accueil{
            max-width: 1366px;
            width: 80%;
        }
    }

    .conteneur-produit{
        margin-top: 95px;
        margin-bottom: 95px;
        display: flex;
        justify-content: center;

        .produits{
            max-width: 1366px;
            width: 80%;

        }

    }
}